

/* @import url("http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"); */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");

.container1{
 /* align-items: center; */
    background: #fff;
    width: auto;
    height: 450px;
    margin: 0 auto;
    position: relative;
    margin-top: 0;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
    /* transform: translateX(15%); */
}

.leftbox{
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: #00BCD4;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
    border: .1em solid #fff;
}

.iconn .tab{
    list-style: none;
    padding-top: 65px;
    padding-left: 47px;
    color: darkblue;
    font-size: 1.8em;
    display: block;
    transition: all .3s ease-in-out;
}

.iconn .tab:hover{
    color: #FFEB3B;
    cursor: pointer;
    transform: scale(1.2);
}

.iconn .tab:first-child{
    margin-top: 7px;
}

.iconn .tab.active{
    color: floralwhite;
    transition: .6s;
}

.rightbox{
    width: 60%;
    margin-left: 27%;
    /* padding-top: 5px; */
}

.tabShow{
    transition: all .5s ease-in-out;
    width: 80%;
    position: absolute;
}

.Lully{
    font-family: "Montserrat", sans-serif;
    color: #512DA8;
    font-size: 1.5rem;
    margin-top: 35px;
    margin-bottom: 27px;
}

.fully{
    color: #E64A19;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}

.inpu{
    border: 0;
    border-bottom: 1px solid#3fb6a8;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: .7em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}

/* span{
    font-size: .7em;
    color: #777;
} */

.btn-new{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 0;
    color: #fff;
    background: #60dd6d;
    padding: 7px 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
    /* margin-top: 15px; */
}

.btn-new:hover{
    background: rgb(0, 255, 106);
    transition:0.6s;
    color: black;
}

.tabShow{
    display: none;
}

.cpy{
  color: #F44336;
  font-size: 20px;
}



@media(max-width: 680px){
    .iconn .tab{
      padding-left: 30px;
  }
  .tabShow{
      width: 70%;
  }
}

@media(max-width: 420px){
    .iconn .tab{
    padding-left: 15px;
  }
  .Lully{
      font-size: 20px;
      margin-top: 10px;
    margin-bottom: 17px;
  }
    .row{
        padding-bottom: 35px;
    }
}

@media(max-width: 300px){
    .iconn .tab{
      padding-left: 8px;
  }
  .row{
    padding-bottom: 60px;
}
}
