 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, select{
    font-family: 'Poppins', sans-serif;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: floralwhite;
    overflow-x: hidden;
}

.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup{
    position: absolute;
    transform: translate(95%, 5%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

 form.sign-in-form{
    z-index: 2;
    transform: translateY(-25%);
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.input-field .input-select{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
.input-field .input-select::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #0084ff;
    color: floralwhite;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover{
    background-color: #4d93e2;
}




 .panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

 .btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}
.btn.transparent:hover{
    background: floralwhite;
    color: black;
}


.image{
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

.gender{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    grid-template-columns: 15% 85%;
    padding: 0rem 1.7rem;
    height: 60px;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.go-to{
    /* width: 200px; */
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #e7eb14ea;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}
.go-to.btn.transparent:hover{
    background: floralwhite;
}
.go-to.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #000;
    color: #000;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}
.go-to.btn.transparent a{
    text-decoration: none;
    color: black;
}


/* Animation Start */

 .container.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image{
    transform: translateX(0px);
}


.container.sign-up-mode .left-panel{
    pointer-events: none;
}


.container.sign-up-mode .right-panel{
    pointer-events: all;
}

.container.sign-up-mode .signin-signup{
    left: -50%;
}

.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

/* Animation End */

/* Mobile View Start */


@media(max-width: 960px) and (min-width: 800px){
  .signin-signup{
      width: 60%;
      margin-left: -16%;
  }

  form.sign-in-form{
      width: 110%;
  }

  form.sign-up-form{
      width: 110%;
  }
}
@media(max-width: 800px) and (min-width: 700px){
  .signin-signup{
      width: 60%;
      margin-left: -16%;
  }

  form.sign-in-form{
      width: 115%;
  }

  form.sign-up-form{
      width: 115%;
  }
}

@media(max-width: 700px) and (min-width: 600px)
    {
        .signin-signup{
            width: 60%;
            margin-left: -16%;
        }

        form.sign-in-form{
            width: 115%;
        }

        .sign-up-form{
            width: 115%;
        }

    }
@media(max-width: 600px){

  .signin-signup{
         width: 65%;
         margin-left: -25%;
    }
  form.sign-in-form{
        width: 120%;
    }

  form.sign-up-form{
      width: 120%;
    }

    /* .image{
        transform: translateY(70px);
    } */
    .title{
        font-size: 1.5rem;
    }
    .input-field input{
        line-height: 0.5;
        font-weight: 600;
        font-size: 12px;
        color: #333;
    }
    .gender{
        font-weight: 600;
        font-size: 12px;
        color: #333;
    }
    .panel h3{
        font-weight: 600;
        line-height: 0.5;
        font-size: 1rem;
    }

    .panel p{
        font-size: 0.85rem;
        padding: 0.7rem 0;
    }
    .panel .content{
        padding: 0.5rem 1rem;
    }
}


@media(max-width: 501px)
{

     .container:before{
        margin-left: -365%;
        margin-top: 35%;
        background-position-x: none;
        background: none;
    }

    .content .btn.transparent{
        border: 1px solid black;
    }

    .content h3, p{
        color: black;
    }

    .content .btn{
        background:  rgb(67, 228, 67);
    }

    .content .btn:hover{
        background-color: rgb(67, 228, 67);
    }
}


@media(max-width: 765px)
{
    .gender{
        width: 100%;
    }
}

@media(max-width: 645px)
{
    .gender{
        padding-bottom: 85px;
    }
}


/* Mobile View End */
